h1{
	font-size: 30px;
}
.space {
	padding-top: 20px;
}

.left-para, .right-para{
	padding-bottom: 10px;
}

#logo {
	font-family: 'Rock Salt', cursive;
	font-size: 40px;
}

.circ{
	width: 90px;
	height: 90px;
	background-color: darkcyan;
	border-radius: 50%;
	padding-top: 12px;
}

.btn-primary{
	background-color: darkcyan;
}